{% load static %}
<div class="product__item{% if not product.in_stock %} out-of-stock{% endif %}">
    <div class="product__item__pic set-bg"
         data-setbg="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/product/product-1.jpg' %}{% endif %}">
        {% if not product.in_stock %}<span class="label">Sold out</span>{% endif %}
        <ul class="product__hover">
            <li><a href="{{ product.get_absolute_url }}" aria-label="View {{ product.name }}">
                <img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6>{{ product.name }}</h6>
        {% if product.in_stock %}
            <form action="{% url 'cart:add' product.id %}" method="post" data-cart-form>
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="add-cart">+ Add To Cart</button>
            </form>
        {% else %}
            <span class="add-cart">Out of stock</span>
        {% endif %}
        <h5>KES {{ product.price|floatformat:2 }}</h5>
    </div>
</div>
