{% extends 'base.html' %}
{% load static %}

{% block title %}Order #{{ order.pk }}{% endblock %}

{% block breadcrumb %}
    {% with crumb_title=order crumb_parent='My orders' crumb_parent_url='/orders/' %}
        {% include 'includes/breadcrumb.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <a href="{{ item.product.get_absolute_url }}">
                                                <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/product/product-1.jpg' %}{% endif %}"
                                                     alt="{{ item.product.name }}" loading="lazy">
                                            </a>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></h6>
                                            <h5>KES {{ item.price|floatformat:2 }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">{{ item.quantity }}</td>
                                    <td class="cart__price">KES {{ item.get_cost|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Order summary</h6>
                    <ul>
                        <li>Status <span class="status-pill status-pill--{{ order.status }}">
                            {{ order.get_status_display }}</span></li>
                        <li>Placed <span>{{ order.created|date:"j M Y, H:i" }}</span></li>
                        <li>Subtotal <span>KES {{ order.get_subtotal|floatformat:2 }}</span></li>
                        {% if order.discount_percent %}
                            <li>Discount ({{ order.discount_percent }}%)
                                <span>&minus;KES {{ order.get_discount|floatformat:2 }}</span></li>
                        {% endif %}
                        <li class="grand-total">Total <span>KES {{ order.get_total|floatformat:2 }}</span></li>
                    </ul>

                    <h6 class="mt-4">Delivery</h6>
                    <ul>
                        <li>{{ order.full_name }}</li>
                        <li>{{ order.street }}</li>
                        <li>{{ order.town }}, {{ order.county }}</li>
                        <li>{{ order.phone }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
